@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --background: #000000;
  --foreground: #ffffff;
  --accent: #ecc698;
  --light-background: #1c1c1c;
  --mahroon: #d4000e;
  --light-text: #837c74;
  /* fonts */
  --font-kaisei: Kaisei Tokumin;
  --font-arizonia: Arizonia;
  --font-ropa: Ropa Sans;
  --font-raleway: raleway;
  --font-bodoni: bodoni;
}

div::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Hide scrollbar for IE, Edge and Firefox */
div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.bg-mahroon {
  background: var(--mahroon);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.overlay {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6278886554621849) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.gradient-overlay {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.gradient-overlay-light-black {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 0%,
    rgb(29, 29, 29) 100%
  );
}

html {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.page-heading {
  font-size: 64px;
  font-weight: bold;
  font-family: var(--font-kaisei);
  line-height: 1;
}

.h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: var(--font-kaisei);
}

.h2 {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--font-kaisei);
}

.h3 {
  font-size: 24px;
  font-weight: 400;
  font-family: var(--font-kaisei);
}

.h4 {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--font-kaisei);
}
.p {
  font-size: 20px;
  font-weight: normal;
  font-family: var(--font-ropa);
}

.p-aspect {
  aspect-ratio: 8 / 6;
}

[id] {
  scroll-margin-top: 100px; /* Adds a 50px spacing when scrolling */
}

.categories-list-carousel .slick-dots {
  bottom: -40px !important;
}

.swiper-button-prev::after {
  display: none !important;
}

.swiper-button-next::after {
  display: none !important;
}

.slick-dots {
  bottom: 20px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center I !important;
}

.z {
  z-index: 999999999999999999999;
}

.slick-dots li {
  background: white;
  border-radius: 100%;
  width: 10px !important;
  height: 10px !important;
}

.slick-dots .slick-active {
  background: var(--mahroon) !important;
}

.slick-dots button:before {
  display: none;
}

button.slick-arrow {
  display: none !important;
}

.slick-slider button {
  font-size: 40px !important;
}

.pointers .slick-dots {
  bottom: -40px !important;
}

.cat-img {
  aspect-ratio: 5 / 7;
}

/* Preloader Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

/* Responsive Styles */
@media (max-width: 767px) {
  .page-heading {
    font-size: 40px;
  }
  .h1 {
    font-size: 35px;
  }
  .h2 {
    font-size: 25px;
  }
  .h3 {
    font-size: 22px;
  }
  .h4 {
    font-size: 16px;
  }
  .p {
    font-size: 16px;
  }
}

@media (min-width: 767px) {
  .categories-list-carousel .slick-slide.slick-active {
    opacity: 100% !important;
  }
  .categories-list-carousel .slick-slide {
    opacity: 50%;
    transition: 0.3s;
  }
}
